@model Country
<form asp-controller="Country" asp-action="Create" method="post">
    <span asp-validation-for="Name" class="text-danger"></span>
    <label asp-for="Name"></label><br>
    <input asp-for="Name" type="text" /><br>

    <span asp-validation-for="Population" class="text-danger"></span>
    <label asp-for="Population"></label><br>
    <input asp-for="Population" type="number" /><br>

    <span asp-validation-for="SickCount" class="text-danger"></span>
    <label asp-for="SickCount"></label><br>
    <input asp-for="SickCount" type="number" /><br>

    <span asp-validation-for="DeadCount" class="text-danger"></span>
    <label asp-for="DeadCount"></label><br>
    <input asp-for="DeadCount" type="number" /><br>

    <span asp-validation-for="RecoveredCount" class="text-danger"></span>
    <label asp-for="RecoveredCount"></label><br>
    <input asp-for="RecoveredCount" type="number" /><br>

    <span asp-validation-for="Vaccine" class="text-danger"></span>
    <label asp-for="Vaccine"></label><br>
    <input asp-for="Vaccine" type="checkbox" /><br>

    <button type="submit">Create country</button>
</form>
