<body>
    <div>
        <h1>Chat</h1>

        <input id="username" type="text" />
        <input id="joinchat" type="button" value="Join Chat" onclick="OpenConnection()" />

        <input id="sendmessage" type="button" value="Send" />
        <input id="messageTextInput" type="text" />

        <ul id="chatMessages"></ul>
        <script src="~/js/chatstream.js"></script>
    </div>
</body>