@model Human
<form asp-controller="Human" asp-action="Create" method="post">
    <span asp-validation-for="FirstName"></span>
    <label asp-for="FirstName"></label><br>
    <input asp-for="FirstName" type="text" /><br>

    <span asp-validation-for="LastName"></span>
    <label asp-for="LastName"></label><br>
    <input asp-for="LastName" type="text" /><br>

    <span asp-validation-for="Age"></span>
    <label asp-for="Age"></label><br>
    <input asp-for="Age" type="number" /><br>

    <span asp-validation-for="IsSick"></span>
    <label asp-for="IsSick"></label><br>
    <input asp-for="IsSick" type="checkbox" /><br>

    <span asp-validation-for="Gender"></span>
    <label asp-for="Gender"></label><br>
    <select asp-for="Gender" asp-items="Html.GetEnumSelectList<Gender>()" type="text"></select> <br />

    <span asp-validation-for="CountryId"></span>
    <label asp-for="CountryId">Country</label><br>
    <select asp-for="CountryId" asp-items="ViewBag.CountryList"></select><br>

    <button type="submit">Create human</button>
</form>