@model HomeSendViewModel
<form asp-controller="Home" asp-action="SendMessage" method="post">
    <span asp-validation-for="AddrTo" class="text-danger"></span>
    <label asp-for="AddrTo">Destination</label><br>
    <input asp-for="AddrTo" type="text" /><br>

    <span asp-validation-for="Text" class="text-danger"></span>
    <label asp-for="Text"></label><br>
    <input asp-for="Text" type="text" /><br>


    <label asp-for="MessageType">MessageType</label><br>
    <label>SMS:</label>
    <input type="radio" name="MessageType" value="sms" checked />
    <label>Email:</label>
    <input type="radio" name="MessageType" value="email" /><br>


    <button type="submit">Send</button>
</form>